---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/walkdoer',
        },
      },
      {
        icon: 'tabler:rss',
        callToAction: {
          target: '_blank',
          text: 'Personal Blog',
          href: 'https://walkdoer.github.io/',
        },
      },
    ]}
    image={{
      src: '~/assets/images/tangram.png',
      alt: 'Tangram',
      loading: 'eager',
      className: 'bg-transparent shadow-none',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">关于 Tangram Note</h2>
      <br />
      <p>小学六年级第一次摸到电脑，就开始用<strong>记事本</strong>写日记，那时觉得记事本的背景是空白的，好无聊，如果写字时能有背景图片那该多好。带着这个想法，折腾了许久，最终用 <a href="https://en.wikipedia.org/wiki/Visual_Basic_(classic)" target="_blank"> Visual Basic </a> 写出了人生第一个“笔记”程序——一个可以自定义背景的记事本。这是我第一次与笔记软件结缘。</p>
      <br />
      <p>
        从大学到工作初期，Evernote 陪伴了我整整八年，积累了大量的资料与个人笔记。然而，信息越堆越多，查找却日益困难。它更像一个囤积的仓库，而非知识库。这让我不断思考：个人知识管理，能否有更优解？
      </p>
      <br />
      <p>
        2017年，结合自身痛点，我开发了一个名为 Whiteboard 笔记原型。它支持自由布局（受到 OneNote 的启发）、快捷搜索、Markdown、任务与项目管理，试图解决知识碎片化、过载与孤岛问题。可惜因工作日渐繁忙，未能持续完善，日常用得最多的是公司内部的笔记平台。但是，知识管理过程的各种痛点依旧存在。
      </p>
      <br />
      <p>
        2020 年，由于对个人知识库的需要日益增加，而市面上的软件也不太能真正满足我的需求，所以，我开始计划开发一款面向个人知识库的笔记软件。四年时光飞逝，过程中不断迭代推进，虽充满挑战，却让我感受到创造的纯粹喜悦，我大概会一直做下去吧。这个缝隙中值得钻研的东西太多了。
      </p>
      <br />
      <p>
        Tangram Note 的名字灵感，来自给女儿买的七巧板玩具（Tangram）。有一天看着她专注拼凑的瞬间，我豁然开朗：知识的拼图不也如此？自由组合，无限可能。我希望 Tangram Note 是一个可以手上把玩的灵动工具，激发自由探索与创意的表达。
        <br />
        <br />
        愿它未来能可以成为用户的日常工具，陪伴用户成长。
      </p>
      <br />
      <p>如果你对我的工作感兴趣，欢迎通过下面链接深入了解:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
