---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Tangram Note — The Better way to interact with your knowledge',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '申请',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: '了解更多', href: '#features' },
    ]}
    image={{
      light: '~/assets/images/hero-light.png',
      dark: '~/assets/images/hero-dark.png',
      alt: 'AstroWind Hero Image'
    }}
  >
    <Fragment slot="title">
      重新定义笔记的价值
    </Fragment>

    <Fragment slot="subtitle">
    Tangram Note 是你的思考的伴侣。
      <span class="hidden sm:inline">
        通过不同的笔记容器——Stack, Page, Board, Collection——让你的想法<span class="font-semibold">自由流动</span>，清晰呈现。
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="设计哲学:" description="我们希望 Tangram 可以成为一件日用品，而不只是一个科技物" />

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    tagline="Features"
    title="当思考需要不同容器"
    columns={2}
    subtitle="我们为每个思考状态准备恰如其分的承载方式"
    items={[
      {
        title: '页面（Page）',
        icon: 'flat-color-icons:document',
        description:
          '专注书写。沉浸于线性的文字流，捕捉灵感，撰写文章，不受干扰。',

      },
      {
        title: '白板（Board）',
        icon: 'streamline-color:map-fold-flat',
        description:
          '自由组织的视觉化笔记。自由连接。在白板空间里拖拽、绘制、连接想法，探索非线性的关联',
      },
      {
        title: '堆（Stack）',
        icon: 'flat-color-icons:template',
        description:
          '编写结构化长文本，用层级结构组织想法、大纲和列表，让复杂关系一目了然。',
      },
      {
        title: '集合（Collection）',
        icon: 'flat-color-icons:database',
        description:
          '有序汇集，像数据库一样灵活地整理信息、条目和资料，便于查找和关联',
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="核心特性"
    items={[
      {
        title: '保存完整上下文',
        description:
          '帮助用户保存有意义的上下文，便于日后重新访问。比如用户打开文档的历史记录、搜索记录、界面的布局等。',
      },
      {
        title: '瞬间还原',
        description:
          '离开时打开的文档、设定的视图，都会安静保留在原地。离开时什么样，回来还是什么样。​​无需重新整理。​​',
      },
      {
        title: '满足多任务场景',
        description:
          '一键切换，无缝续上未完成的事，自如地在多任务中切换。旅行规划、日常写作、工作反思，各空间各忙各的。',
      },
    ]}
    image={{
      src: '~/assets/images/space-screenshot.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">工作空间，你的专属桌面</h3>
      你的所有项目都有一个专属的办公桌，所有的东西都和你最后一次离开保持一样的状态。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '快速检索面板',
        description: `无论你身在哪处界面，轻按 ⌘ O 即可唤出一个轻盈面板，无需跳转页面便能瞬间定位内容。`,
      },
      {
        title: '全文检索',
        description:
          '全文搜索将覆盖所有笔记内容，让查找笔记变得易如反掌，不再担心找不到过往记录。',
      },
      {
        title: '良好的中文支持',
        description:
          '支持中文分词，带来更好的中文搜索体验。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">瞬间抵达任何想法</h3>
      人的记忆常有模糊时刻，但笔记不应有难以寻觅的内容。Tangram 提供「快速搜索」+「全文检索」
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features2
    id="features"
    title="我们的设计理念"
    columns={2}
    items={[
      {
        title: '对过去的自己对话',
        description:
          '让你的记录成为的思维伙伴，在与知识进行交互（对话）的过程中，不断深度思考，拓展思考的边界。',

      },
      {
        title: '共同成长',
        description:
          '我们相信好的软件应该要能够陪伴用户成长。我们由衷感谢用户选择让 Tangram 进入他们的日常生活，陪伴共同成长。在日复一日的记录中，清晰看见思维的演进与成长的印记。',
      },
      {
        title: '关联，然后创造惊喜',
        description:
          '我们提供一整套的工具箱来辅助用户建立有意义的关联，并从关联中得到启发。我们提供一个能够孕育惊喜的环境，让用户在与自己的笔记互动时，总能够获得意外的惊喜。',
      },
      {
        title: '更少干扰，更多洞见',
        description:
          '注意力是这个时代最稀缺的资源。为了保护您的注意力，我们提供专注的，不受干扰的思考空间。界面保持克制和极简，偶尔的色彩点缀也是为了提升可读性。',
      },
      {
        title: '以人为本，器具退隐',
        description:
          '我们相信好的工具是不打扰的，就像铅笔和纸张。我们坚守人是主体，工具要留出足够的空间，让用户来表达和探索。',
      },
      {
        title: '自由组织+结构化',
        description:
          '完全自由只会导致混乱，而僵化的结构又会限制创意。我们相信，有限制的自由能够激发创造力。我们希望通过提供多种信息容器，助力用户编制各种小型结构，不断种下种子。'
      }
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="更多特性"
    subtitle="我们提供完整的知识交互工具箱，帮助你与自己的知识库进行交互，形成对话"
    items={[
      {
        title: '语境感知',
        description: "随着用户焦点的不断移转，相关联的推荐信息也将不断变换。",
        icon: 'flat-color-icons:idea',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
