---
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '~/utils/permalinks';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features4 from '~/components/widgets/Feature4.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Tangram Note — The Better way to interact with your knowledge',
  ignoreTitleTemplate: true,
};

const requestURL = getPermalink('/early-access#application');
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '申请成为早期用户',
        href: requestURL,
        icon: 'tabler:user-heart',
      },
      { text: '了解更多', href: '#features' },
    ]}
    image={{
      light: '~/assets/images/hero-light.png',
      dark: '~/assets/images/hero-dark.png',
      alt: 'AstroWind Hero Image'
    }}
  >
    <Fragment slot="title">
      重新定义笔记的价值
    </Fragment>

    <Fragment slot="subtitle">
    Tangram Note 是你的思考的伴侣。
      <span class="hidden sm:inline">
        通过不同的笔记容器——Stack, Page, Board, Collection——让你的想法<span class="font-semibold">自由流动</span>，清晰呈现。
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="设计哲学:" description="我们希望 Tangram Note 可以成为一件<strong>日用品</strong>，而不只是一件科技物" />

  <!-- Features Widget *************** -->

  <Features4
    id="features"
    tagline="Features"
    title="当思考需要不同容器"
    columns={2}
    subtitle="我们为每个思考状态准备恰如其分的承载方式"
    items={[
      {
        title: '页面（Page）',
        icon: 'flat-color-icons:document',
        description:
          '专注书写。沉浸于线性的文字流，捕捉灵感，撰写文章，不受干扰。',
        image: {
          lightSrc: '~/assets/images/screenshot-page.png',
          darkSrc: '~/assets/images/screenshot-page.dark.png',
          alt: 'Page',
        },
      },
      {
        title: '白板（Board）',
        icon: 'streamline-color:map-fold-flat',
        description:
          '自由组织的视觉化笔记。在空间里拖拽、绘制、连接想法，探索非线性的关联',
        image: {
          lightSrc: '~/assets/images/screenshot-board.png',
          darkSrc: '~/assets/images/screenshot-board.dark.png',
          alt: 'Board',
        },
      },
      {
        title: '堆（Stack）',
        icon: 'flat-color-icons:template',
        description:
          '编写结构化长文本，用层级结构组织想法、大纲和列表，让复杂关系一目了然。',
        image: {
          lightSrc: '~/assets/images/screenshot-stack.png',
          darkSrc: '~/assets/images/screenshot-stack.dark.png',
          alt: 'Stack',
        },
      },
      {
        title: '集合（Collection）',
        icon: 'flat-color-icons:database',
        description:
          '有序汇集，像数据库一样灵活地整理信息、条目和资料，便于查找和关联',
        image: {
          lightSrc: '~/assets/images/screenshot-collection.png',
          darkSrc: '~/assets/images/screenshot-collection.dark.png',
          alt: 'Collection',
        },
      }
    ]}
  />

  <!-- 为深度思考而设计的界面交互 -->

  <Features4
    id="interaction"
    title="为深度思考而设计的界面交互"
    subtitle="在深度专注与灵活协作间取得平衡，让思考自然流动"
    columns={2}
    items={[
       {
        title: '知识导航器',
        description: '浏览器式前进 / 回溯动线，自动生成「访问路径图谱」。像浏览器一样前进 / 后退导航，可视化展示知识探索路径，随时跳转到任意历史节点，导出思考路径用于复盘。',
        image: {
          lightSrc: '~/assets/images/mindflow.light.png',
          darkSrc: '~/assets/images/mindflow.dark.png',
          alt: 'Split Panes',
        },
      },
      
      {
        title: '空间分割布局',
        description: '支持屏幕自由分区，让知识之间的协同如呼吸般自然。轻松实现：笔记对照编辑：多个笔记对照阅读，提升学习效率。数据跨窗引用：支持拖拽内容跨区引用。',
        image: {
          lightSrc: '~/assets/images/split-panes.light.png',
          darkSrc: '~/assets/images/split-panes.dark.png',
          alt: 'Split Panes',
        },
      },
     {
        title: '保护注意力',
        description: '我们以「保护用户注意力」为第一准则，提供沉浸式书写环境。每一处留白、每一种颜色的使用、每一处信息的展示，我们都经历过详细的设计。',
      },
      {
        title: '悬浮气泡',
        description: `悬浮笔记链接时，自动以悬浮气泡的交互打开关联笔记，只展示笔记关键信息，降低用户认知负担，快速浏览后自动收起，不打断你当前的工作流。
        <ul class="list-none pl-2 mt-2 text-muted">
          <li><span class="text-green-600">✓</span> 如有需要，支持多张卡片同时参考</li>
          <li><span class="text-green-600">✓</span> 支持将卡片移入到软木板暂存区</li>
          <li><span class="text-green-600">✓</span> 支持将卡片展开为窗口完整查看</li>
        </ul>
        `,
      },
      {
        title: '空间快捷栏（Space Dock）',
        description: '每一个 Space 都会有一个单独的快捷栏（Dock），将高频访问的笔记或功能固定其上，便于快速访问。✓ 手动固定关键笔记 ✓ 自动显示最近标签 ✓ 智能记录访问历史',
      },
      {
        title: '软木板（跨空间暂存区）',
        description: '在多个 Space 间切换时的共享区域，重要碎片暂存于此，可实现全局常驻可见，多任务切换时保持思路连贯不中断。',
      },
    ]}
  />

   <Features4
    id="interaction"
    title="类型链接，深度关联"
    subtitle="超越普通链接，定义知识间的关系本质，人物关系、概念结构、分类体系皆可基于链接来构建。"
    columns={2}
    items={[
      {
        icon: 'flat-color-icons:mind-map',
        title: '编织知识间的语义网络',
        description: '普通链接只能告诉你 “这里有关联”，而类型链接会清晰地告诉你 “这是怎样的关联”。通过类型链接，你可以清晰地表达笔记之间的关系和语义。',
      },
      {
        icon: 'flat-color-icons:idea',
        title: '深度对话与惊喜发现的基石',
        description: '通过类型链接，笔记之间的关系不再是简单的连接，而是有意义的对话。让你在探索中获得意外的洞见。',
      },
      {
        title: '分类体系（Category）',
        description: "层级分类是管理复杂度的有效方法，我们从知识网络中提取出层级结构，清晰呈现您的知识结构。基于类型链接，您无需提前搭建分类结构，可以在日复一日的记录中自然形成。",
        icon: 'flat-color-icons:genealogy',
      },
      {
        title: '标签（Tagging）',
        description: "Tangram 的标签系统同样基于类型链接。标签是一种灵活组织信息的有效方法，一个笔记可打多个标签，告别单一文件夹的束缚。用标签为你的笔记创造多维入口，点击标签，瞬间过滤出所有相关内容。",
        icon: 'flat-color-icons:timeline',
      },
    ]}
  />


  <!-- Content Widget **************** -->
    <Content
    isReversed
    items={[
      {
        title: '快速检索面板',
        description: `无论你身在哪处界面，轻按 ⌘ O 即可唤出一个轻盈面板，无需跳转页面便能瞬间定位内容。`,
      },
      {
        title: '全文检索',
        description:
          '全文搜索将覆盖所有笔记内容，让查找笔记变得易如反掌，不再担心找不到过往记录。',
      },
      {
        title: '良好的中文支持',
        description:
          '支持中文分词，带来更好的中文搜索体验。',
      },
    ]}
    image={{
      src: '~/assets/images/search-2.png',
      alt: 'Search Image',
      className: 'bg-transparent shadow-none',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">瞬间抵达任何想法</h3>
      人的记忆常有模糊时刻，但笔记不应有难以寻觅的内容。Tangram 提供「快速搜索」+「全文检索」
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    items={[
      {
        title: '保存完整上下文',
        description:
          '帮助用户保存有意义的上下文，便于日后重新访问。比如用户打开文档的历史记录、搜索记录、界面的布局等。',
      },
      {
        title: '瞬间还原',
        description:
          '离开时打开的文档、设定的视图，都会安静保留在原地。离开时什么样，回来还是什么样。​​无需重新整理。​​',
      },
      {
        title: '满足多任务场景',
        description:
          '一键切换，无缝续上未完成的事，自如地在多任务中切换。旅行规划、日常写作、工作反思，各空间各忙各的。',
      },
    ]}
    image={{
      // display the whole image
      className: 'bg-transparent shadow-none w-full h-auto mt-10',
      src: '~/assets/images/multiple-spaces.png',
      width: 770,
      height: 500,
      alt: 'Desktop space Analog',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">工作空间，你的专属桌面</h3>
      你的所有项目都有一个专属的办公桌，所有的东西都和你最后一次离开保持一样的状态。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features4
    id="features"
    title="我们的设计理念"
    columns={2}
    items={[
      {
        title: '对过去的自己对话',
        icon: 'flat-color-icons:voice-presentation',
        description:
          '让你的个人知识库成为的真正的思维伙伴，在与知识进行交互（对话）的过程中，不断深度思考，拓展思考的边界。',
      },
      {
        title: '共同成长',
        icon: 'fluent-emoji-flat:potted-plant',
        description:
          '我们相信好的软件要能够陪伴用户成长。我们由衷感谢用户选择让 Tangram 进入他们的日常生活，陪伴共同成长。在日复一日的记录中，清晰看见思维的演进与成长的印记。',
      },
      {
        title: '关联，然后创造惊喜',
        icon: 'flat-color-icons:idea',
        description:
          '我们提供一整套的工具箱来辅助用户建立有意义的关联，并从关联中得到启发。我们提供一个能够孕育惊喜的环境，让用户在与自己的笔记互动时，总能够获得意外的惊喜。',
      },
      {
        title: '更少干扰，更多洞见',
        icon: 'flat-color-icons:reading',
        description:
          '注意力是这个时代最稀缺的资源。为了保护您的注意力，我们提供专注的，不受干扰的思考空间。界面保持克制和极简，偶尔的色彩点缀也是为了提升可读性。',
      },
      {
        title: '以人为本，器具退隐',
        icon: 'flat-color-icons:like-placeholder',
        description:
          '我们相信好的工具是不打扰的，就像铅笔和纸张。我们坚守人是主体，工具要留出足够的空间，让用户来表达和探索。',
      },
      {
        title: '自由组织+结构化',
        icon: 'flat-color-icons:template',
        description:
          '完全自由只会导致混乱，而僵化的结构又会限制创意。我们相信，有限制的自由能够激发创造力。我们在提供编织灵活知识网络的同时，也助力用户编制各种小型结构。<strong>让知识既能自由流动，又能有序组织。</strong>',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="更多特性"
    subtitle="我们还有更多丰富的特性，支持用户的复杂的思考过程"
    items={[
      {
        title: '知识库',
        icon: 'flat-color-icons:library',
        description: '所有的知识（笔记）都存储在同一个库中，正如我们的大脑一样，这是实现知识联通性的基础。',
      },
      {
        title: '告别复制粘贴的割裂感',
        icon: 'fluent-emoji-flat:clipboard',
        description:
          '您只管复制和粘贴，Tangram Note 会帮你处理好各种格式的转化。而且复制的内容也将与原本内容保持关联性，未来可追溯源头，维护知识之间的相互联系。',
      },
      {
        title: '历史记录',
        description: "我们将自动记录笔记的访问和修改、搜索的关键词记录、空间的访问记录等用户数据。我们将时间信息融入到 Tangram 的方方面面，留下您思维成长的足迹。而您产生的所有数据完全归属您个人。<strong>我们恪守最高隐私标准，让您的数据真正服务于您</strong>。",
        icon: 'flat-color-icons:clock',
      },
      {
        title: '语境感知',
        description: "随着用户焦点的不断移转，相关联的推荐信息也将不断变换。",
        icon: 'flat-color-icons:idea',
      },
      {
        title: '归档',
        description: "对于个人知识库而言，归档能力是必要的。对于部分已经过期的知识，可以选择归档。与删除不同，归档的内容依旧存在，未来有需要时也可重新唤醒（激活）。",
        icon: 'flat-color-icons:filing-cabinet',
      },
      {
        title: '笔记专用 Markdown',
        description: "传统 Markdown 为出版而生，繁复的层级结构常让记录分神。我们重新设计了一套笔记专属标记系统。保留 Markdown 的高效基因的同时剥离冗余语法，比如我们仅支持单级标题与单层列表。简洁的结构将让知识重组更轻盈。",
        icon: 'flat-color-icons:file',
      },
      {
        title: '支持学术工具',
        description: "无缝连接学术生态，我们深度集成全球领先的文献管理工具 Zotero，便于研究者、学生与知识工作者调用自己积累的学术资源。",
        icon: 'flat-color-icons:reading',
      },
      {
        title: '自由导出',
        description: '支持一键导出 PDF、HTML 和 Markdown 等多种格式，支援用户不同场景的需求，便于与其他工具进行联通。我们也会倾听用户建议，持续丰富导出格式，增加联通的平台和工具。',
        icon: 'flat-color-icons:export',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features
    id="notGoodAt"
    title="我们不擅长的事情"
    columns={2}
    subtitle="我们专注于构建个人知识库，不追求 All In One，所以有些事情我们主动选择不做"
    items={[
      {
        title: '不支持任务管理',
        icon: 'tabler:list-check',
        description:
          '任务（Task）的特点是短时效性的，用完即弃的。而 Tangram 的目标是构建长期有效的知识库，因此我们主动选择不做任务管理。市场上有大量的优秀的 Todo 软件，Todoist 和滴答清单都不错',

      },
      {
        title: '不适合做思维导图',
        icon: 'tabler:sitemap',
        description:
          '虽然我们有白板（Board），但与思维导图有本质不同。我们的目标是将其与其他容器进行深度整合，帮助用户进行信息收集、思维整理等场景。如有您有思维导图的需求，思维导图软件 Xmind、MindNode 都是相当不错的选择。',
      },
      {
        title: '不支持团队协作',
        icon: 'streamline-freehand:collaboration-meeting-team-file',
        description:
          'Tangram 是一款面向私人场景的软件，因此不支持团队协作。',
      },
      {
        title: '不是 All in One 的信息管理工具',
        icon: 'tabler:files',
        description:
          'Tangram 是以「文本」为核心的，我们的专注于构建个人知识库。我们不擅长管理多媒体如照片、扫描文档、收据、机票、PDF 文件、电子书籍等。如果您需要，老牌软件 Devonthink 是一个不错的选择。 ',
      }
    ]}
  />

   <!-- Steps Widget ****************** -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="阅读开发手记了解更多"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题解答"
    subtitle="了解关于 Tangram Note 的最常见问题"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '如何导入我现有的笔记数据?',
        description:
          "我们虽然支持导入 Markdown 文件，但是我们建议用户重零开始构建自己的知识库。",
      },
      {
        title: "支持哪些设备和平台？",
        description: "当下我们支持 macOS。未来将根据用户反馈来决定是否支持 Windows 和 Linux 平台",
      },
       {
        title: " 我可以在移动端使用 Tangram Note 吗？",
        description: "<strong>Tangram Note 当前专注于提供强大的桌面端体验</strong>。 我们认为其核心的复杂知识构建、空间化组织和深度编辑功能需要桌面级的大屏幕和精准交互才能发挥最佳效果。因此，官方移动应用暂未推出。我们理解移动访问的需求，并持续评估其可行性，未来计划请关注我们的官方公告。对于移动端快速记录灵感，建议使用其他轻量工具，稍后导入 Tangram Note 进行深度整理。",
      },
      {
        title: "Tangram Note 如何收费？",
        description: "Tangram Note 首次购买获得永久使用权，后续按年付费获取更新（不续费仍可继续使用旧版本，但无法升级）。这样在保障您的使用权益的同时，也激励我们不断优化产品以满足您的需求。"
      },
      {
        title: "遇到问题如何获得帮助？",
        description: "我们非常乐意为您提供支持！您可以首先查看帮助中心或知识库，如果无法解决你的问题，您可直接发送邮件至 walkdoer@gmail.com，我们将尽快回复您。",
      },
      {
        title: "我的数据安全吗？是否会丢失？",
        description: " Tangram Note 创建的数据 100% 存储于您自己的电脑硬盘上，并支持随时导出笔记为 Markdown 等开放格式，方便您额外存档，您对自己的数据拥有完全的控制权和所有权。数据丢失风险主要来自您本地设备的硬件故障，为了降低风险，我们建议您将 Tangram 的数据文件夹放置在网盘文件夹中（比如iCloud）。",
      },
      {
        title: "是否支持离线使用？",
        description: "完全支持！ Tangram Note 是一个本地应用，都提供完整的离线功能。您可以在没有网络连接时查看、编辑、创建笔记。",
      },
      {
        title: "支持 AI 的能力吗？",
        description: "<b>当前版本中尚不支持 AI 功能。</b> 不过，我们正在积极进行实验和开发，目标是将 AI 深度集成到软件的各个核心层级和功能模块中，作为增强创造力的智能助手。相关功能正在经过详细的测试和验证，以确保其稳定性和实用性。我们计划在未来的版本更新中正式推出 AI 的能力，请持续关注我们的发布公告！"
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '申请成为早期用户',
        href: requestURL,
        icon: 'tabler:user-heart',
      },
    ]}
  >
    <Fragment slot="title">
      与你同思，与你共建
    </Fragment>

    <Fragment slot="subtitle">
      我们希望做出最优秀的个人知识库软件，诚邀您成为我们的同行者，与开发者团队共同塑造思维笔记工具。
    </Fragment>
  </CallToAction>
</Layout>
