---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';

const logoImage = '~/assets/images/logo.png';


---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center"
>
  <Image
    src={logoImage}
    alt="Logo"
    width={30}
    height={30}
  />
  {SITE?.name}
</span>
